$spacing_0: 0;
$spacing_2: 2;
$spacing_4: 4;
$spacing_8: 8;
$spacing_12: 12;
$spacing_16: 16;
$spacing_24: 24;
$spacing_32: 32;
$spacing_48: 48;
$spacing_64: 64;
$spacing_96: 96;

$spaceamounts: (
  $spacing_0
  $spacing_2
  $spacing_4
  $spacing_8
  $spacing_12
  $spacing_16
  $spacing_24
  $spacing_32
  $spacing_48
  $spacing_64
  $spacing_96
);

$sides: (top, bottom, left, right); // Leave this variable alone
