$spacing_0: 0;
$spacing_2: 2;
$spacing_4: 4;
$spacing_8: 8;
$spacing_10: 10;
$spacing_12: 12;
$spacing_16: 16;
$spacing_18: 18;
$spacing_20: 20;
$spacing_24: 24;
$spacing_32: 32;
$spacing_48: 48;
$spacing_60: 60;

$spaceamounts: (
  $spacing_0
  $spacing_2
  $spacing_4
  $spacing_8
  $spacing_10
  $spacing_12
  $spacing_16
  $spacing_18
  $spacing_20
  $spacing_24
  $spacing_32
  $spacing_48
  $spacing_60
);

$sides: (top, bottom, left, right); // Leave this variable alone
